doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="refresh")
        link(rel="stylesheet", href="../../assets/css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css") 
        title MYAMAZON - WEBSITE
    body 
        //- HEADER START
        header.header
            .row
                .container
                    ol.nav 
                        li.nav__item 
                            a.nav__link.logo(href="#")
                                img(src="../../assets/icons/logo.png", alt="Logo") 
                        li.nav__item 
                            <i class="fa-solid fa-location-dot"></i>
                            a.nav__link.address(href="#")
                                span Deliver to
                                h4 Pakistan
                        li.nav__item 
                            a.nav__link.search(href="#")
                                form(action="")
                                    button.btn All
                                        <i class="fa-solid fa-caret-down"></i> 
                                    input.search__input(type="search")
                                    button.search__btn 
                                        img(src="../../assets/icons/search.png", alt="Search button")
                        li.nav__item    
                            a.nav__link.languages(href="#") 
                                img(src="../../assets/icons/USA.png", alt="Languages")
                                <i class="fa-solid fa-caret-down"></i> 
                        li.nav__item 
                            a.nav__link.profile(href="#") 
                                span Hello, Sign in
                                h4 Account & Lists
                                    <i class="fa-solid fa-caret-down"></i> 
                        li.nav__item 
                            a.nav__link.order(href="#") 
                                span Returns
                                h4 & Orders
                                    <i class="fa-solid fa-caret-down"></i> 
                        li.nav__item 
                            a.nav__link.cart(href="#")
                                img(src="../../assets/icons/cart.png", alt="Cart")
                                span cart
            .menu
                .container 
                    ol.menu__list 
                        li.menu__item 
                            a.menu__link.home(href="") <i class="fa-solid fa-bars"></i> All
                        li.menu__item
                            a.menu__link(href="") Today’s Deals
                        li.menu__item
                            a.menu__link(href="") Customer Service
                        li.menu__item
                            a.menu__link(href="") Registry
                        li.menu__item
                            a.menu__link(href="") Gift Cards        
                        li.menu__item
                            a.menu__link(href="") Sell  
        //- HEADER END  

        //- MAIN START
        main.main 
            .container
                section.hero
                    img.home(src="../../assets/icons/background-1.png", alt="Hero image")
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")
                section.product    
                    ol.product__list
                        li.product__item 
                            h4 Gaming Accessories
                            img(src="../../assets/images/product-1.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Shop activity trackers and smartwatches
                            img(src="../../assets/images/product-2.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Dresses
                            img(src="../../assets/images/product-3.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more
                        li.product__item 
                            h4 Shop school essentials
                            img(src="../../assets/images/product-4.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 New arrivals in Toys
                            img(src="../../assets/images/product-5.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Shop backpacks
                            img(src="../../assets/images/product-6.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Shop Laptops & Tablets
                            img(src="../../assets/images/product-7.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 For your Fitness Needs
                            img(src="../../assets/images/product-8.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more
                section.sellers 
                    h4 Top Sellers in Computers & Accessories
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-1.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-2.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-3.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-4.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-5.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-6.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-7.png", alt="Top Sellers") 
                section.sellers 
                    h4 International top sellers in Home
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-8.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-9.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-10.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-11.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-12.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-13.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-14.png", alt="Top Sellers") 
                
                //- PRODUCT TWO START
                section.product__two    
                    ol.product__list
                        li.product__item 
                            h4 Back to school
                            img(src="../../assets/images/product-9.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Computers & Accessories
                            img(src="../../assets/images/product-10.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Health & Personal Care
                            img(src="../../assets/images/product-11.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Get fit at home
                            img(src="../../assets/images/product-12.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 40.50
                                del $ 55.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more               
                //- PRODUCT TWO END

                //- Baby start
                section.sellers 
                    h4 Top Sellers in Baby Products for you
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-15.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-16.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-17.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-18.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-19.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-20.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-21.png", alt="Top Sellers") 
                //- Baby end

                //- Baby start
                section.sellers 
                    h4 International top sellers in Home Improvement
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-22.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-23.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-24.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-25.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-26.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-27.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-28.png", alt="Top Sellers") 
                //- Baby end

                //- PRODUCT TWO START
                section.product__two    
                    ol.product__list
                        li.product__item 
                            h4 Shop activity trackers and smartwatches
                            img(src="../../assets/images/product-13.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 12.50
                                del $ 15.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Shop school essentials
                            img(src="../../assets/images/product-14.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 12.50
                                del $ 15.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 New arrivals in Toys
                            img(src="../../assets/images/product-15.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 12.50
                                del $ 15.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more

                        li.product__item 
                            h4 Kindle E readers
                            img(src="../../assets/images/product-16.png", alt="Product")
                            p.desc
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Lorem ipsum dolor sit amet, ...
                            .price
                                ins $ 12.50
                                del $ 15.50
                            .star
                                img(src="../../assets/images/Stars.png", alt="Stars") 
                                span.count (192)
                                a.link(href="#") see more               
                //- PRODUCT TWO END

                                //- Baby start
                section.sellers 
                    h4 Popular products in Beauty internationally
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-29.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-30.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-31.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-32.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-33.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-34.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-35.png", alt="Top Sellers") 
                //- Baby end

                                //- Baby start
                section.sellers 
                    h4 Popular products in Apparel internationally
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-36.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-37.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-38.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-39.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-40.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-41.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-42.png", alt="Top Sellers") 
                //- Baby end

                                //- Baby start
                section.sellers 
                    h4 Top Sellers in Toys for you
                    img.left(src="../../assets/icons/left.png", alt="left")
                    img.right(src="../../assets/icons/right.png", alt="right")    
                    .sellers__list 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-43.png", alt="Top Sellers")
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-44.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-45.png", alt="Top Sellers")             
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-46.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-47.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-48.png", alt="Top Sellers") 
                        .sellers__item 
                            a.sellers__link 
                                img(src="../../assets/images/sellers-49.png", alt="Top Sellers") 
                //- Baby end

                //- Sign In start
                section.sign__in 
                    h4 See personalized recommendations
                    button.signIn Sign in
                    p New customer? 
                        a(href="#") Start here.
                //- Sign In end
        //- MAIN END

        //- FOOTER START
        footer.footer 
            .container
                .footer__top
                    a(href="#") Back to top
                .footer__main 
                    ol.footer__list
                        li.footer__item 
                            h4 Get to Know Us
                            a(href="#") Careers  
                            a(href="#") Blog  
                            a(href="#") About MyAmazon  
                            a(href="#") Investor Relations  
                            a(href="#") MyAmazon Devices  
                            a(href="#") MyAmazon Science   
                        li.footer__item 
                            h4 Get to Know Us
                            a(href="#")Careers  
                            a(href="#")Blog  
                            a(href="#")About MyAmazon  
                            a(href="#")Investor Relations  
                            a(href="#")MyAmazon Devices  
                            a(href="#")MyAmazon Science
                        li.footer__item 
                            h4 Get to Know Us
                            a(href="#")Careers  
                            a(href="#")Blog  
                            a(href="#")About MyAmazon  
                            a(href="#")Investor Relations  
                            a(href="#")MyAmazon Devices  
                            a(href="#")MyAmazon Science
                        li.footer__item 
                            h4 Get to Know Us
                            a(href="#")Careers  
                            a(href="#")Blog  
                            a(href="#")About MyAmazon  
                            a(href="#")Investor Relations  
                            a(href="#")MyAmazon Devices  
                            a(href="#")MyAmazon Science
        //- FOOTER END
