@use "sass:map";

$font-weights: ('extralight': 200, 'light': 300, 'regular': 400, 'medium': 500, 'semibold': 600, 'bold': 700, 'extrabold': 800, 'black': 900);

.footer{
    width: 100%;
    position: relative;
    .container{
        .footer__top{
            width: 100%;
            position: absolute;
            left: 0;
            background-color: $blue;
            text-align: center;
            padding: 1.5rem 0;
            a{
                font-size: 1.3rem;
                font-weight: map-get($font-weights, bold);
                color: $white;
            }
        }
        .footer__main{
            width: 100%;
            position: absolute;
            top: 4rem;
            padding: 8rem 11rem; 
            background-color: $black;
            left: 0;
            color: $white;
            .footer__list{
                @include flexbox-row;
                align-items: flex-start;
                gap: 5rem;
                margin-bottom: 5rem;
                .footer__item{
                    @include flexbox-column;
                    align-items: flex-start;
                    h4{
                        font-size: 1.2rem;
                        font-weight: map-get($font-weights, bold);
                    }
                    a{
                        color: $white;
                        line-height: 3.4rem ;
                        margin-bottom: .1rem;
                    }
                }

            }
            .block{
                width: 60rem;
                margin: 0 auto;
                @include flexbox-row;
                align-items: center;
                margin-bottom: 3rem;
                #language{
                    @include flexbox-row;
                    align-items: center;
                    gap: 1rem;
                    margin-left: auto;
                    border: none;
                    background: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: map-get($map: $font-weights, $key: regular);
                    border: 1px solid #fff;
                    padding: .9rem 2rem;
                    margin-right: 4rem;
                }
                .sum{
                   @extend #language; 
                }
                .country{
                    @extend #language;
                    margin-right: 0;
                }
            }
            .line{
                border: 2px solid #fff;
            }
            .footer__bottom{
                width: 60rem;
                margin: 0 auto;
                .footer__nav{
                    @include flexbox-row;
                    align-items: center;
                    padding: 3rem 0;
                    gap: 2rem;
                    a{
                        font-size: 1.2rem;
                        font-weight: map-get($font-weights, regular);
                        color: $white;
                    }
                }
            }
        }
    }
}